* {
    box-sizing: border-box;
    background-color: blanchedalmond;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    font-size: 50px;
    color: #2b3336;
    margin-top: 100px;
}

h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 40px;
    color: #8360a9;
    margin-top: 5px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #2b3336;
}

#board > div {
    background-color: blanchedalmond;
    border: 1vmin solid blanchedalmond;
}

#board > div.avail {
    cursor: grab;
}

#board > div.avail:hover {
    background-color: #8360a9;
}

button {
    color: blanchedalmond;
    background-color: #2b3336;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px;
    border: 5px;
    margin-top: 50px;
    cursor: grab;
}

button:disabled {
    background-color: blanchedalmond;
    color: blanchedalmond;
}